/login-controller.js
/main-page-controller.js
/navbar-controller.js
/new-post-controller.js
/register-controller.js
/search-result-controller.js
/single-page-controller.js
/update-profile-controller.js
